/* Components/Navbar/Navbar.css */
.sidebar {
    width: 200px;
    height: calc(100vh - 100px); /* Adjust for top and bottom padding */
    position: fixed;
    top: 50px; /* Align with padding */
    left: 50px; /* Align with padding */
    background: transparent;
    backdrop-filter: blur(30px);
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  

  .sidebar li {
    width: 100%;
    padding: 10px 15px;
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center align items vertically */
    gap: 5px; /* Space between icon and text */
    cursor: pointer;
  }

  .sidebar li a, .sidebar li button {
    color: #fff;
    text-decoration: none;
    flex: 1; /* Allow link/button to take available space */
    text-align: left;
    background: none;
    border: none;
    padding: 0; /* Remove padding from link/button */
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center align items vertically */
    gap: 5px; /* Reduced gap between icon and text */
  }
  
  .sidebar li:hover {
    background-color: #575757;
    border-radius: 20px; /* Optional: round corners for hover effect */
  }
  
  .sidebar li svg { /* Style for icons */
    font-size: 1.5em; /* Adjust icon size */
  }
  
  