/* App.css */
.app-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;

}

.main-content {
  margin-left: 260px;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px; /* Ensure space for the sidebar */
  padding: 20px;
  flex: 1;
  overflow: auto;
  background: transparent;
  backdrop-filter: blur(30px);
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
